<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="background-color: red; font-size: 3rem">ejs</div>
    <img src="/public/img/dog.jpeg" alt="" />
    <a href="/test1">경로이동</a>

    <% var per = [{name:'han',gender:'여자'},{name:'asd',gender:'남자'}] %>
    <table border="1">
      <tr>
        <td>이름</td>
        <td>성별</td>
      </tr>
    <% for(var i=0; i<per.length; i++) {%>
      <tr>
        <td><%=per[i]["name"]%></td>
        <td><%=per[i].gender%></td>
      </tr>
      <% } %>
    </table>


    <% for(var i = 0; i<5; i++) {%>
    <div>안녕 <%=i%></div>
    <% } %>

    <!-- 파일불러오기 -->
    <%-include("test1.ejs")%>
    <script></script>
  </body>
</html>
